@{
    ViewBag.Title = "Filter";
}


<div class="row" style="padding-top: 20px;">
    <div class="col-md-4">
        <h1>Search</h1>
        <form action="@Url.Action("Filter","Home")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Starting Date</label>
                <input type="date" class="form-control" name="FromDate" />
            </div>
            <div class="form-group">
                <label>Ending Date</label>
                <input type="date" class="form-control" name="ToDate" />
            </div>
            <button type="submit" class="btn btn-primary">Gonder</button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Genres</th>
                    <th>Countries</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {

                    <tr>
                        <td>@movie.Name</td>
                        <td>@movie.PublicationDate.ToString("dd.MM.yyyy")</td>
                        <td>@movie.Duration min</td>
                        <td>
                            @foreach (var genre in Model.GetGenresOfMovie(movie.Id))
                            {
                                <span class="badge">@genre.Name </span>
                            }
                        </td>
                        <td>
                            @foreach (var country in Model.GetCountriesOfMovie(movie.Id))
                            {
                                <span class="badge">@country.Name </span>
                            }
                        </td>
                        <td>
                            <a href="@movie.Link" target="_blank">
                                Trailer
                            </a>
                        </td>
                    </tr>


                }

            </tbody>
        </table>
    </div>
</div>

