
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="display:flex; justify-content: space-evenly;padding: 10px;">
    <form action=@(Model.HallId == 0 ? Url.Action("Create", "Halls") : Url.Action("Update", "Halls")) method="post" style="width: fit-content;">
        @Html.AntiForgeryToken()
        @if (Model.HallId != 0)
        {
            <input type="hidden" name="Id" value="@Model.HallId" />
        }
    <div class="form-group">
        <label>Name </label>
        <input type="text" class="form-control" name="Name" value=@(Model.HallId == 0 ? null : @Model.HallsSingle[0].Name) />
        @if (Session["HallUnique"] == null)
        {
            <div class="alert alert-danger" role="alert">
                Hall already exists
            </div>

        }
        @{Session["HallUnique"] = null; }
        
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model.HallId == 0) { 
                <input type = "submit" value = "Create" class="btn btn-default" />}
                else
                {
            <input type="submit" value="Update" class="btn btn-default" />  
                }

            </div>
        </div>
</form>
    <table class="table" style="width:unset;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.Halls)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td style="display: flex; justify-content: space-around;">
                    <a href="@Url.RouteUrl("Index", new { id=@item.Id})"><i class="far fa-edit"></i></a>
                    <a href="@Url.RouteUrl("DeleteHall", new { id=@item.Id})"><i class="fas fa-trash-alt"></i></a>
                </td>
                </tr>
                }

                </table>
            </div>