@model MovieProject.Models.ViewModels.SeatViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="display:flex; justify-content: space-evenly;padding: 10px;">
    <form action=@(Model.SeatId == 0 ? Url.Action("Create", "Seats") : Url.Action("Update", "Seats")) method="post" style="width: fit-content;">
        @Html.AntiForgeryToken()
        @if (Model.SeatId != 0)
        {
            <input type="hidden" name="Id" value="@Model.SeatId" />
        }
        @if (Session["SeatUnique"] != null)
        {
            <div class="alert alert-danger" role="alert">
                Seat already exists
            </div>

        }
        @{Session["SeatUnique"] = null; }
        <div class="form-group">
            <label style="display: block;">Hall </label>
            <select name="HallId" required class="form-control">
                @foreach (var hall in Model.Halls)
                {
                    <option @(Model.SeatId == 0 ? null : Model.SeatSingle[0].HallId == hall.Id ? "selected" : null) value="@hall.Id">@hall.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Row </label>

            <input type="text" class="form-control" name="Row" value=@(Model.SeatId == 0 ? null : Model.SeatSingle[0].Row) />
            @Html.ValidationMessageFor(model => model.Seat.Row, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label>Column </label>
            <input type="text" class="form-control" name="Column" value=@(Model.SeatId == 0 ? null : @Model.SeatSingle[0].Column.ToString()) />
            @Html.ValidationMessageFor(model => model.Seat.Column, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model.SeatId == 0)
                {
                    <input type="submit" value="Create" class="btn btn-default" />}
                else
                {
                    <input type="submit" value="Update" class="btn btn-default" />
                }

            </div>
        </div>
    </form>
    <table class="table" style="width:unset;">
        <tr>
            <th>
                Hall
            </th>
            <th>
                Row
            </th>
            <th>
                Column
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.Seats)
        {
    <tr>
        <td>
            @item.Hall.Name
        </td>
        <td>
            @item.Row
        </td>
        <td>
            @item.Column
        </td>
        <td style="display: flex; justify-content: space-around;">
            <a href="@Url.RouteUrl("SeatIndex", new { id=@item.Id})"><i class="far fa-edit"></i></a>
            <a href="@Url.RouteUrl("DeleteSeat", new { id=@item.Id})"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
        }

    </table>
</div>

